---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';

import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About',
};
---

<style>
  .parent-container {
    display: grid;
    place-items: center; /* This centers the children both vertically and horizontally */
    height: 100%; /* Ensure the container takes up the full height */
  }
</style>

<Layout metadata={metadata}>
  <Content
    id="about"
    image={{
      src: '~/assets/images/harold.jpg',
      alt: 'Harold Anderson',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <div
        class="parent-container text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200"
      >
        Meet Harold
      </div>

      <p>
        <br />
        I have run two CPG startups over the past 15 years. I know what it takes to succeed in CPG. I would love to help
        you chart the correct course for your company and achieve your personal and professional goals.
      </p>
      <br />
      <p>
        I am driven by a desire to make your company successful. It is tragic when companies make simple, but fatal
        strategic errors. All the years of hard work and your shareholders’ money evaporates. The landscape is
        competitive. Let’s make sure you are charting the correct path.
      </p>
      <br />
      <p>
        I was an investment banker, and also the Director of Quantitative Research for Fixed Income at Fidelity
        Investments, where I ran a group of Ph.D.s who valued Fidelity’s investments.
      </p>
      <br />
      <p>
        I have a Ph.D. in Applied Mathematics from U.C. Berkeley and degrees in Math and Physics from M.I.T. I taught
        Math at both schools. I live in Portland, Oregon.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle={'Successful relationships are based on shared values.' +
      '&nbsp; We will ask you to agree to these values when we start.'}
    id="Values"
    items={[
      {
        title: 'Respect',
        description:
          'Every person is unique, their experiences are valuable, and they deserve respect.' +
          '&nbsp; Disrespect hurts the company.' +
          '&nbsp; Life is too short, and we have invested too much in our companies to tolerate disrespect.',
        icon: 'tabler:heart-handshake',
      },
      {
        title: 'Candor',
        description:
          'Respect does not imply a lack of candor.' + '   Be honest about consequences and recommendations.',
        icon: 'material-symbols:communication',
      },
      {
        title: 'Ethical Practices',
        description:
          'Good business relationships are built on treating colleagues, vendors, and customers well.' +
          '  This implies following all laws, and advising clients when they are at legal risk.' +
          ' Treating partners well does not imply exposing yourself to undue risk.',
        icon: 'tabler:scale',
      },
      {
        title: 'Hard Work',
        description:
          'Under-promise and over-deliver.  Expectations are clearly articulated and met ahead of schedule.' +
          '  We expect the same from our partners.',
        icon: 'tabler:shovel',
      },
      {
        title: 'Competence',
        description: 'We only employ stars, and we will not work with brands and people we do not believe in. ',
        icon: 'tabler:star',
      },
      {
        title: 'Health',
        description: 'In order to bring their best to work, people must take time to recharge. Nobody is a machine.',
        icon: 'tabler:yin-yang',
      },
    ]}
  />

  <CallToAction
    title="Do you share our values?"
    subtitle="Join our community of respectful overachievers."
    actions={[
      {
        variant: 'primary',
        text: `I'm worth it.`,
        href: '/contact',
      },
    ]}
  />
</Layout>
