---
import Layout from '~/layouts/PageLayout.astro';

import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'FAQ',
};

const items = [
  {
    title: 'How much does it cost?  Will you work hourly?',
    description: `Please check out the options on our <span class="text-blue-600 dark:text-white highlight"><a href="/pricing">Pricing</a></span> page.   
          The cost depends on the depth of our relationship.  Services are sold in monthly blocks. We do not work on an hourly basis.`,
  },
  {
    title: 'What size companies will you work with?',
    description: `
        We find that companies over $1 million in revenue benefit more from our services because their basic systems are already functioning. 
        As companies get larger, they benefit more from our services, because we are able to solve their complex problems while other CFO firms cannot.
        We have had customers between $250,000 and $10 million in revenue.
        `,
  },
  {
    title: 'Will you do my bookkeeping?  It is really messed up.',
    description: `If your bookkeeping is not in order, you will not be able to benefit from a Fractional CFO.  Please get your books in order first.
          Make sure you are using accrual-based accounting.  If you are manufacturing, make sure you have a functioning inventory and manufacturing system.`,
  },
  {
    title: 'Why are you the best choice?  There are other more established CFO firms out there.',
    description: `Unlike other CFO firms, we have personally optimized, integrated and run all functions of CPG companies.   
        Most Fractional CFOs, even if they specialize in one area, don’t have deep operating experience in that area.   
        This makes it difficult to be a sounding board for the questions you will have.  
        Being a CPA turned Fractional CFO is not enough.  You deserve better.`,
  },
  {
    title:
      'I paid another Fractional CFO to do a model for me, but it is a mess. And it does not capture the nuances of my company.',
    description: `Most do not have the skill set to do what you need. Five linked Google Sheets with 10 tabs each in them will
                      be difficult to use and maintain.  It is a red flag, frankly. We are one of very few partners that 
                       <span class="text-blue-600 dark:text-white highlight"><a href="https://causal.app" target="blank_">Causal</a></span>
                      recommends, for good reason.`,
  },
  {
    title: 'I already have a Fractional CFO.  I just need someone to raise money for me.  Can you do that?',
    description: ` Professional investors appreciate the involvement of a Fractional CFO. It ensures a certain level of quality.
                      The flip side is that the Fractonal CFO
        is staking his/her reputation on you by talking to each investor.  We will not do this unless we have worked with you for a while.
        If your Fractional CFO cannot raise money for you, you need a different Fractional CFO.    
        `,
  },
  {
    title: 'Can I ask questions outside of office hours?',
    description: `We will provide a Teams or Slack environment for you to ask questions at any time, or you may ask via email.  
            We will respond during office hours, which are 8-5 Monday to Friday, Pacific time.`,
  },
  {
    title: 'What are the payment terms and methods?',
    description: `We require payment in advance for each month of service.  Services may begin at any point during the month.
                  Payment may be made by wire, e-check, ACH, Venmo, Paypal, credit card, or BILL.`,
  },
  {
    title: 'Do you offer any guarantees?',
    description:
      `No.  Often client infrastructure or personnel issues prevent results from being achieved as quickly as customers wanted. 
       Clients need to manage their projects and personnel. A Fractional CFO cannot do your management job for you.`
  },
  {
    title: 'Are there any hidden fees?',
    description:
      'Beyond the costs on the <span class="text-blue-600 dark:text-white highlight"><a href="/pricing">Pricing</a></span>' +
      ' page, you must maintain subscriptions to any services we jointly decide you need.',
  },

];
---

<Layout metadata={metadata}>
  {/* FAQ Widget */}

  <FAQs
    title="Frequently Asked Questions"
    subtitle={`Some are actual questions that customers have asked.  Some are questions we wish they had asked. 😊`}
    tagline=""
    classes={{ container: 'max-w-6xl' }}
    columns={2}
    items={items}
  />
</Layout>
