---
import Layout from '~/layouts/PageLayout.astro';
import Brands from '~/components/widgets/Brands.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Anderson CFO - Fractional CFO',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero actions={[]} image={{ src: '~/assets/images/asian_blue_jacket-16x9.png', alt: 'Anderson CFO Hero Image' }}>
    <Fragment slot="title">
      Helping
      <span class="text-accent dark:text-white highlight"> your</span> business succeed.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        We are Fractional CFOs with deep experience in Consumer Packaged Goods, but we have worked with many types of
        businesses. We are known for Forecasting (FP & A) and inventory systems. Keep your business on track.
      </span>
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <style>
    .parent-container {
      display: grid;
      place-items: center; /* This centers the children both vertically and horizontally */
      height: 100%; /* Ensure the container takes up the full height */
    }
  </style>

  <div class="parent-container">
    <Content
      id="pricing"
      image={{
        src: '~/assets/images/woman-boxes.webp',
        alt: 'Harold Anderson',
      }}
      callToAction={{
        variant: 'primary', // Choose the variant based on your design needs
        href: '#Services', // Use 'href' instead of 'target' for anchor elements
        icon: 'tabler:arrow-right', // Specify an icon name if needed
        text: 'Learn More', // The button label
      }}
    >
      <Fragment slot="content">
        <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
          We’re here to help you thrive.
        </h2>
        <p>
          The vast majority of CPG startups fail in spectacular fashion. It is easy to have an idea, but the demands
          from distributors, retailers, and co-packers often come as a rude shock. In order to succeed, you need
          experienced guidance.
        </p>
        <br />
        <p>
          We have 15 years of C-suite level experience in CPG and can advise you on all aspects of your business to make
          sure you reach your goals.
        </p>
        <br />
        <p>
          Most Fractional CFOs are simply CPAs who decided they wanted to make more money as a Fractional CFO. Deep
          industry experience is required in order to avoid the pitfalls in CPG.
        </p>
        <br />
        <p>
          As a small business, you may not be able to match the expertise that your larger competitors have in cash-flow
          projections, forecasting, raising capital, and systems. We’re here to give you that big-company advantage.
          Sometimes understanding what a potential hire or a new SKU will do to your cash runway can be a relief.
        </p>
        <br />
        <p>I want to understand what is keeping you up at night and fix it.</p>
        <br />
        <p>
          To read more, visit the <span class="text-accent"><a href="/about" target="_blank">About</a></span> page. To read
          answers to frequent questions about the process, visit the <span class="text-accent"
            ><a href="/faq" target="_blank">FAQ</a></span
          >. Or click the button below to read about the services we offer to keep you on track.
        </p><br /></Fragment
      >
    </Content>
    <!-- 
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </div>

  <Brands
    title="Partnerships & Collaborations"
    subtitle="We are honored to partner with these organizations."
    id="Partners"
    icons={[]}
    images={[
      {
        src: '~/assets/images/causal-logo.png',
        alt: 'Causal',
      },
      {
        src: '~/assets/images/qbo-payroll.png',
        alt: 'QuickBooks Online Payroll',
      },
      {
        src: '~/assets/images/qbo-logo.jpg',
        alt: 'Intuit Quickbooks',
      },

      {
        src: '~/assets/images/sos-logo.jpg',
        alt: 'SOS Inventory',
      },
      {
        src: '~/assets/images/oen-logo.jpg',
        alt: 'Oregon Entrepreneurs Network',
      },
      {
        src: '~/assets/images/glimpse-logo.webp',
        alt: 'Glimpse',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="What services do we provide?"
    id="Services"
    subtitle="We offer a wider range of services than most Fractional CFOs.  Our goal is that you should be strong in many areas."
    items={[
      {
        title: 'Strategy',
        description: `Give advice based on extensive CPG experience to ensure your success. 
                   Because we have run all aspects of CPG businesses, this is wide-ranging.`,
        icon: 'mdi:strategy',
      },
      {
        title: 'Cash-Flow Forecasts',
        description: `If you have a functioning infrastructure, meaning business processes to enter invoices and bills and to estimate future expenditures,
           we can provide a forecast of your cash balances.  We use 
           <span class="text-accent"><a href=https://CashFlowTool.com target="_blank">Cash Flow Tool</a></span> for this.`,
        icon: 'streamline:subscription-cashflow',
      },
      {
        title: 'Business Forecasting',
        description: `We will create a model of your business that you can use for investor presentations
          and to run your business.`,
        icon: 'flat-color-icons:binoculars',
      },
      {
        title: 'Capital Raises',
        description: `After we become comfortable with your business, we will assist in creating presentations for investors, 
          introducing you, and negotiating terms.
          Please note that for early-stage companies, the best source of capital is people who believe in you.`,
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Business Intelligence',
        description: `Data is useless without the ability to view and analyze it.
                      We will provide ways for you to view the information available to use to make more useful
                      decisions.`,
        icon: 'flat-color-icons:combo-chart',
      },
      {
        title: 'Talent',
        description: `We have a large network of professionals we can introduce you to for sales, operations, and finance.`,
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Systems',
        description: `We can recommend, integrate and implement ERP, CRM, Email, and other types of business systems .`,
        icon: 'flat-color-icons:process',
      },
      {
        title: 'Accounting Supervision',
        description: `We will supervise your accounting staff.`,
        icon: 'fluent-emoji:magnifying-glass-tilted-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Read Our Blog"
    information={`These articles are in reverse chronological order.  It is best to start at the beginning.  
              Advanced articles have warnings; feel free to skip those.
                `}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: '/contact',
        icon: 'tabler:arrow-right',
      },
    ]}
  >
    <Fragment slot="title"> Get Started </Fragment>

    <Fragment slot="subtitle"> Tell us what you need to kick your business into high gear. </Fragment>
  </CallToAction>
</Layout>
