---
import Layout from '~/layouts/PageLayout.astro';
import Brands from '~/components/widgets/Brands.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Anderson CFO - Fractional CFO',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero actions={[]} image={{ src: '~/assets/images/asian_blue_jacket-16x9.png', alt: 'Anderson CFO Hero Image' }}>
    <Fragment slot="title">
      Helping
      <span class="text-accent dark:text-white highlight"> your</span> business succeed.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        We are Fractional CFOs with deep experience in Consumer Packaged Goods, but we have worked with many types of
        businesses. We are known for Forecasting (FP & A) and inventory systems. Keep your business on track.
      </span>
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <style>
    .parent-container {
      display: grid;
      place-items: center; /* This centers the children both vertically and horizontally */
      height: 100%; /* Ensure the container takes up the full height */
    }
  </style>

  <div class="parent-container">
    <Content
      id="pricing"
      image={{
        src: '~/assets/images/thrive-preview.jpeg',
        alt: 'Harold Anderson',
        loading: 'eager',
      }}
      callToAction={{
        variant: 'primary', // Choose the variant based on your design needs
        href: '/pricing', // Use 'href' instead of 'target' for anchor elements
        icon: 'tabler:arrow-right', // Specify an icon name if needed
        text: 'Learn More', // The button label
      }}
    >
      <Fragment slot="content">
        <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
          We’re here to help you thrive.
        </h2>
        <p>
          The vast majority of CPG startups fail in spectacular fashion. It is easy to have an idea, but the demands
          from distributors, retailers, and co-packers often come as a rude shock. In order to succeed, you need
          experienced guidance.
        </p>
        <br />
        <p>
          We have 15 years of C-suite level experience in CPG and can advise you on all aspects of your business to make
          sure you reach your goals.
        </p>
        <br />
        <p>
          Most Fractional CFOs are simply CPAs who decided they wanted to make more money as a Fractional CFO. Deep
          industry experience is required in order to avoid the pitfalls in CPG.
        </p>
        <br />
        <p>
          As a small business, you may not be able to match the expertise that your larger competitors have in cash-flow
          projections, forecasting, raising capital, and systems. We’re here to give you that big-company advantage.
          Sometimes understanding what a potential hire or a new SKU will do to your cash runway can be a relief.
        </p>
        <br />
        <p>I want to understand what is keeping you up at night and fix it.</p>
        <br />
        <p>
          To read more, visit the <span class="text-accent"><a href="/about" target="_blank">About</a></span> page. To read
          answers to frequent questions about the process, visit the <span class="text-accent"
            ><a href="/faq" target="_blank">FAQ</a></span
          >. Or click the button below to read about the services we offer to keep you on track.
        </p><br /></Fragment
      >
    </Content>
    <!-- 
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </div>

  <Brands
    title="Partnerships & Collaborations"
    subtitle="We are honored to partner with these organizations."
    icons={[]}
    images={[
      {
        src: '~/assets/images/causal-logo.png',
        alt: 'Causal',
      },
      {
        src: '~/assets/images/qbo-payroll.png',
        alt: 'QuickBooks Online Payroll',
      },
      {
        src: '~/assets/images/qbo-logo.jpg',
        alt: 'Intuit Quickbooks',
      },

      {
        src: '~/assets/images/sos-logo.jpg',
        alt: 'SOS Inventory',
      },
      {
        src: '~/assets/images/oen-logo.jpg',
        alt: 'Oregon Entrepreneurs Network',
      },
      {
        src: '~/assets/images/glimpse-logo.webp',
        alt: 'Glimpse',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="What services do we provide?"
    subtitle="We offer a wide range of website templates that suit various industries and purposes such as business, portfolio, e-commerce, blog, etc."
    items={[
      {
        title: 'Installation Instructions',
        description:
          'Offer clear instructions on how to download the purchased templates and install them on various website platforms or content management systems.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Demo and Previews',
        description:
          'Provide interactive demos and previews that allow customers to see how their chosen template will look and function before making a purchase.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Technical Support',
        description:
          'Providing customer support for any technical issues related to the templates or their implementation.',
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Read Our Blog"
    information={`These articles are in reverse chronological order.  It is best to start at the beginning.  
              Advanced articles have warnings; feel free to skip those.
                `}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: '/contact',
        icon: 'tabler:arrow-right',
      },
    ]}
  >
    <Fragment slot="title"> Get Started </Fragment>

    <Fragment slot="subtitle"> Tell us what you need to kick your business into high gear. </Fragment>
  </CallToAction>
</Layout>
