---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Prices from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';
// import Steps from '~/components/widgets/Steps.astro';
// import Features3 from '~/components/widgets/Features3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Pricing',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText
    tagline="Pricing"
    title="Stellar Pricing for Every Journey"
    subtitle="Choose the perfect plan that aligns with your goals."
  />

  <!-- Pricing Widget ******************* -->

  <Prices
    title="Our prices"
    subtitle="Only pay for what you need."
    prices={[
      {
        title: 'basic',
        subtitle: 'Budget choice',
        price: 1000,
        period: 'per month',
        items: [
          {
            description: 'One hour-long call per month.',
          },
          {
            description: 'CFO-level advice.',
          },
          {
            description: 'Three hours of research and review from our side.',
          },
          {
            description: 'No implementation or model-building.',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started',
          href: '/contact',
        },
      },
      {
        title: 'standard',
        subtitle: 'Flagship Service.',
        price: 3000,
        period: 'Per Month',
        items: [
          {
            description: 'One hour-long call. a half-hour call, email and Teams chat support.',
          },
          {
            description: 'Professional reports and analysis.',
          },
          {
            description: 'Build-out of cash-flow and forecasting models.',
          },
          {
            description: 'CFO-level advice on strategy and tactics.',
          },
          {
            description: 'Help with capital raises, including structures, presentations, and introductions.',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started',
          href: '/contact',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Projects/Custom',
        subtitle: 'According to your needs',
        price: `6000+`,
        period: 'Per Month',
        items: [
          {
            description: 'One day a week of our time.',
          },
          {
            description: 'Project based work or for larger companies with complex needs.',
          },
          {
            description: 'Advanced forecasting and planning.',
          },
          {
            description: 'Systems and/or ERP integrations.',
          },
          {
            description: 'Power BI infrastructure and reports.',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started',
          href: '/contact',
        },
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Pricing FAQs"
    id="PricingFAQ"
    subtitle=`Choosing the right plan is important, and we're here to answer your questions. Here are some pricing-specific questions.  More general questions are on the
             <span class="text-accent dark:text-white highlight"></span><a href="/faq">FAQ</a></span> page.`
    columns={1}
    items={[
      {
        title: 'What are the payment terms and methods?',
        description: `We require payment in advance for each month of service.  If you start in the middle of the month, the rest of the month is
           pro-rated.  Payment may be made by wire, e-check, ACH, Venmo, Paypal, credit card, or BILL.`,
      },
      {
        title: 'Do you offer any guarantees?',
        description:
          'If you are not happy with the service, we will refund up to one month of service.  We have never had to do this.',
      },
      {
        title: 'Is there a minimum term for the service?',
        description:
          'The service is month-to-month. You may cancel at any time during the month.  Cancellation will take effect at the end of the month.',
      },
      {
        title: 'Are there any hidden fees beyond the displayed cost?',
        description: 'You must maintain subscriptions to any services we jointly decide you need.',
      },
      {
        title: "I can't afford it.  Will you give me a discount?",
        description:
          'Because we are able to offer services that others cannot, our services represent a compelling value.' +
          ' We are likely to increase our prices in the future.' +
          ' We would be happy to recommend some Fractional CFOs who might be a better fit.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Ready to turbocharge your business?"
    subtitle="Join our community of satisfied customers who have transformed their businesses."
    actions={[
      {
        variant: 'primary',
        text: 'Get started now',
        href: '/contact',
      },
    ]}
  />
</Layout>
